* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

.nav__link--item {
  color: #333136;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mobile__nav__link--item {
  color: #fff;
  text-decoration: none;
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button__text {
  text-decoration: none;
  color: #333136;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading--primary {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 48px;
}
@media only screen and (max-width: 75em) {
  .heading--primary {
    font-size: 3.2rem;
    line-height: 36px;
    font-weight: 400;
  }
}

.text--primary--white {
  color: #fff;
  font-size: 1.6rem;
  line-height: 26px;
  font-weight: 400;
}
@media only screen and (max-width: 75em) {
  .text--primary--white {
    font-size: 1.5rem;
  }
}

.box {
  color: #fff;
}
.box__heading {
  font-size: 4rem;
  line-height: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
}
@media only screen and (max-width: 37.5em) {
  .box__heading {
    font-size: 2.8rem;
  }
}
.box__text {
  font-size: 1.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.box__text span {
  color: #e7816b;
  font-size: 2rem;
  padding-bottom: 3px;
}

.service-box {
  color: #fff;
}
.service-box__heading {
  font-size: 4rem;
  line-height: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
}
.service-box__text {
  font-size: 1.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.service-box__text span {
  color: #e7816b;
  font-size: 2rem;
  padding-bottom: 3px;
}

.quality__title {
  font-size: 2rem;
  letter-spacing: 5px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #333136;
}
.quality__text {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 400;
  color: #333136;
}
@media only screen and (max-width: 75em) {
  .quality__text {
    text-align: left;
  }
}
@media only screen and (max-width: 37.5em) {
  .quality__text {
    text-align: center;
  }
}

.cta__title {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 500;
  color: #fff;
}
@media only screen and (max-width: 37.5em) {
  .cta__title {
    font-size: 3.2rem;
    line-height: 36px;
    font-weight: 500;
  }
}
.cta__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fff;
}
.cta--button {
  color: #333136;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer__link--item {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer__heading {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.footer__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.footer__logo {
  color: #e7816b;
  transition: all 0.1s;
}
.footer__logo:hover {
  color: #ffad9b;
}

.card__heading {
  color: #e7816b;
  font-size: 2rem;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 500;
}
.card__text {
  font-size: 1.6rem;
  line-height: 26px;
  text-align: center;
}

.about__content__heading {
  font-size: 4rem;
  line-height: 48px;
  font-weight: 500;
  color: #e7816b;
}
.about__content__text {
  font-size: 1.6rem;
  line-height: 26px;
}

.panel__text {
  font-size: 2rem;
  letter-spacing: 5px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #333136;
}
.panel__button {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.map__header {
  font-size: 4rem;
  line-height: 48px;
  font-weight: 500;
  color: #e7816b;
}
.map__text {
  font-size: 1.6rem;
  line-height: 26px;
  font-weight: 400;
}
.map__heading {
  font-size: 1.6rem;
  line-height: 26px;
  font-weight: 400;
}

.form__input {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}
.form__textarea {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.5; /* Firefox */
}

.button__form {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.container {
  width: 1111px;
  margin: 0 auto;
}
@media only screen and (max-width: 75em) {
  .container {
    width: 681px;
  }
}
@media only screen and (max-width: 37.5em) {
  .container {
    width: 375px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
}
.nav__box--right {
  display: flex;
  align-items: center;
  gap: 42px;
}
.nav__link {
  list-style: none;
}
.nav__link--item {
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}
.nav__link--item:hover {
  border-bottom: 1px solid #333136;
}

.mobile__navBars {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 2px;
}
.mobile__navBar {
  width: 24px;
  height: 4px;
  background-color: #333136;
}
.mobile__nav {
  position: relative;
}
.mobile__nav__link {
  list-style: none;
}
.mobile__nav--overlay {
  height: 235px;
  width: 100vw;
  position: absolute;
  background-color: #1d1c1e;
  color: #fff;
  right: 0;
  top: 75px;
  z-index: 10;
}
.mobile__nav--overlay__links {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  gap: 32px;
  justify-content: center;
  align-items: left;
  margin-top: 30px;
}

.change .navBar--1 {
  transform: rotate(-45deg) translate(-7px, 9px);
}

/* Fade out the second bar */
.change .navBar--2 {
  opacity: 0;
}

/* Rotate last bar */
.change .navBar--3 {
  transform: rotate(45deg) translate(-3px, -4px);
}

.hide {
  display: none;
}

.hero {
  background-color: #e7816b;
  height: 64rem;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-top: 6.7rem;
}
@media only screen and (max-width: 75em) {
  .hero {
    height: 84.3rem;
  }
}
@media only screen and (max-width: 75em) {
  .hero {
    width: 100vw;
    border-radius: 0;
    margin-top: 37px;
  }
}
.hero::after {
  content: url("../../assets/home/desktop/bg-pattern-hero-home.svg");
  height: 64rem;
  width: 64rem;
  position: absolute;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 75em) {
  .hero::after {
    right: -145px;
    top: 110px;
  }
}
@media only screen and (max-width: 75em) {
  .hero::after {
    left: 0;
    top: 82px;
  }
}
.hero__container {
  width: 92rem;
  display: flex;
  margin: 0 auto;
}
@media only screen and (max-width: 75em) {
  .hero__container {
    flex-direction: column;
    width: 681px;
    align-items: center;
  }
}
@media only screen and (max-width: 75em) {
  .hero__container {
    width: 375px;
  }
}
.hero__content {
  margin-top: 15rem;
  z-index: 5;
}
@media only screen and (max-width: 75em) {
  .hero__content {
    margin-top: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.hero__content__heading {
  width: 54rem;
  margin-bottom: 1.1rem;
}
@media only screen and (max-width: 75em) {
  .hero__content__heading {
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 75em) {
  .hero__content__heading {
    width: 327px;
    margin-bottom: 1.4rem;
  }
}
.hero__content__text {
  width: 44.5rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 75em) {
  .hero__content__text {
    margin-bottom: 1.9rem;
  }
}
@media only screen and (max-width: 75em) {
  .hero__content__text {
    width: 327px;
    margin-bottom: 2.4rem;
  }
}
.hero__img-box {
  position: absolute;
  right: -10rem;
  bottom: -25rem;
}
@media only screen and (max-width: 75em) {
  .hero__img-box {
    right: 2rem;
    bottom: -36rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero__img-box {
    right: -11rem;
    bottom: -38rem;
  }
}

.about__hero {
  background-color: #e7816b;
  height: 48rem;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
}
.about__hero::after {
  content: url("../../assets/about/desktop/bg-pattern-hero-about-desktop.svg");
  height: 64rem;
  width: 64rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.about__hero__textbox {
  width: 63.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 95px;
}
.about__hero__heading {
  margin-bottom: 3.2rem;
}
.about__hero__text {
  width: 45.8rem;
}
.about__hero__imgbox {
  width: 476px;
  height: 480px;
  z-index: 3;
}

.boxes {
  margin-top: 16rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 64rem;
  column-gap: 3rem;
  row-gap: 2.4rem;
}
@media only screen and (max-width: 75em) {
  .boxes {
    margin-top: 12rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 64.9rem;
    row-gap: 2.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .boxes {
    justify-items: center;
  }
}

.box {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  transition: all 2s ease;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
@media only screen and (max-width: 37.5em) {
  .box {
    width: 327px;
  }
}
.box__text {
  display: flex;
  align-items: center;
  gap: 5px;
}
.box--1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/desktop/image-web-design-large.jpg");
}
.box--1:hover {
  background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/desktop/image-web-design-large.jpg");
}
@media only screen and (max-width: 75em) {
  .box--1:hover {
    background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/tablet/image-web-design.jpg");
  }
}
@media only screen and (max-width: 37.5em) {
  .box--1:hover {
    background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/mobile/image-web-design.jpg");
  }
}
@media only screen and (max-width: 75em) {
  .box--1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/tablet/image-web-design.jpg");
  }
}
@media only screen and (max-width: 37.5em) {
  .box--1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/mobile/image-web-design.jpg");
  }
}
.box--2 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/desktop/image-app-design.jpg");
  grid-column: 2/3;
  grid-row: 1/2;
}
.box--2:hover {
  background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/desktop/image-app-design.jpg");
}
@media only screen and (max-width: 75em) {
  .box--2:hover {
    background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/tablet/image-app-design.jpg");
  }
}
@media only screen and (max-width: 37.5em) {
  .box--2:hover {
    background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/mobile/image-app-design.jpg");
  }
}
@media only screen and (max-width: 75em) {
  .box--2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/tablet/image-app-design.jpg");
  }
}
@media only screen and (max-width: 37.5em) {
  .box--2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/mobile/image-app-design.jpg");
  }
}
.box--3 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/desktop/image-graphic-design.jpg");
  grid-column: 2/3;
  grid-row: 2/3;
}
.box--3:hover {
  background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/desktop/image-graphic-design.jpg");
}
@media only screen and (max-width: 75em) {
  .box--3:hover {
    background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/tablet/image-graphic-design.jpg");
  }
}
@media only screen and (max-width: 37.5em) {
  .box--3:hover {
    background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/mobile/image-graphic-design.jpg");
  }
}
@media only screen and (max-width: 75em) {
  .box--3 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/tablet/image-graphic-design.jpg");
  }
}
@media only screen and (max-width: 37.5em) {
  .box--3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/mobile/image-graphic-design.jpg");
  }
}

.quality {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .quality {
    flex-direction: row;
    width: 690px;
    gap: 32px;
  }
}
@media only screen and (max-width: 37.5em) {
  .quality {
    flex-direction: column;
    width: 327px;
    gap: 48px;
  }
}
.quality__content {
  text-align: center;
}
@media only screen and (max-width: 75em) {
  .quality__content {
    margin-left: 4.8rem;
    text-align: left;
  }
}
@media only screen and (max-width: 37.5em) {
  .quality__content {
    text-align: center;
    margin-left: 0;
  }
}
.quality__title {
  margin-top: 4.8rem;
  margin-bottom: 3.2rem;
}
@media only screen and (max-width: 75em) {
  .quality__title {
    margin-top: auto;
    margin-bottom: 1.6rem;
  }
}
.quality__img-box {
  position: relative;
}
.quality__img-box::after {
  content: "";
  width: 202px;
  height: 202px;
  background-image: linear-gradient(to bottom, rgba(93, 2, 2, 0.001) 0%, rgba(93, 2, 2, 0.4976) 100%);
  opacity: 25%;
  z-index: -3;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.cta {
  background-color: #e7816b;
  height: 292px;
  border-radius: 1.5rem;
  display: flex;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 75em) {
  .cta {
    height: 350px;
  }
}
@media only screen and (max-width: 37.5em) {
  .cta {
    height: 379px;
  }
}
.cta::after {
  content: url(/assets/shared/desktop/bg-pattern-call-to-action.svg);
  position: absolute;
  width: 876px;
  height: 584px;
  right: 0px;
  top: -170px;
  z-index: 3;
}
@media only screen and (max-width: 75em) {
  .cta::after {
    top: -125px;
    right: -135px;
  }
}
.cta__content {
  width: 92rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media only screen and (max-width: 75em) {
  .cta__content {
    width: 573px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .cta__content {
    width: 279px;
  }
}
@media only screen and (max-width: 75em) {
  .cta__content--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    gap: 5px;
  }
}
.cta__title {
  width: 26.8rem;
  margin-bottom: 5px;
  z-index: 11;
}
.cta__text {
  width: 45.9rem;
  z-index: 12;
}
@media only screen and (max-width: 37.5em) {
  .cta__text {
    width: 279px;
  }
}
.cta--button {
  z-index: 15;
}

.footer {
  background-color: #1d1c1e;
  height: 393px;
  margin-top: -7.2rem;
}
@media only screen and (max-width: 75em) {
  .footer {
    height: 423px;
  }
}
@media only screen and (max-width: 75em) {
  .footer {
    height: 815px;
  }
}
.footer__link--item {
  transition: all 0.1s;
}
.footer__link--item:hover {
  border-bottom: 1px solid #fff;
}
.footer--contact {
  margin-top: 16rem;
}
.footer__row--1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14.4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__row--1--right {
  display: flex;
  list-style: none;
  gap: 4.2rem;
}
@media only screen and (max-width: 37.5em) {
  .footer__row--1--right {
    flex-direction: column;
    text-align: center;
    margin-top: 32px;
  }
}
.footer__row--1--contact {
  padding-top: 7.2rem;
}
@media only screen and (max-width: 37.5em) {
  .footer__row--1 {
    flex-direction: column;
  }
}
.footer__row--2 {
  margin-top: 3.1rem;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  width: 1111px;
}
@media only screen and (max-width: 75em) {
  .footer__row--2 {
    width: 690px;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__row--2 {
    flex-direction: column;
    width: 375px;
    text-align: center;
    gap: 40px;
  }
}
.footer__row--2__content--1 {
  width: 350px;
  margin-right: 3rem;
}
@media only screen and (max-width: 75em) {
  .footer__row--2__content--1 {
    width: 223px;
    margin-right: 1rem;
  }
}
.footer__row--2__content--2 {
  width: 350px;
}
@media only screen and (max-width: 75em) {
  .footer__row--2__content--2 {
    width: 223px;
  }
}
.footer__row--2__content--3 {
  display: flex;
  margin-left: 19.7rem;
  align-self: flex-end;
  gap: 1.6rem;
}
@media only screen and (max-width: 75em) {
  .footer__row--2__content--3 {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__row--2__content--3 {
    margin-left: 0;
    align-self: center;
  }
}
.footer__logo {
  cursor: pointer;
}

.about__content {
  height: 64rem;
  width: 111.1rem;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #fdf3f0;
  overflow: hidden;
  position: relative;
}
.about__content--2 {
  flex-direction: row-reverse;
}
.about__content__imgbox {
  z-index: 5;
}
.about__content__textbox {
  margin-left: 9.4rem;
  display: flex;
  flex-direction: column;
  width: 44.5rem;
}
.about__content__textbox--2 {
  margin-left: 0;
  margin-right: 9.4rem;
}
.about__content__heading {
  margin-bottom: 2.4rem;
}
.about__content__text {
  margin-bottom: 2.4rem;
}
.about__content__circle {
  position: absolute;
  opacity: 0.06;
  width: 292px;
  height: 292px;
  z-index: 0;
  border-radius: 50%;
}
.about__content__circle--1 {
  background: linear-gradient(-90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  right: 494px;
  bottom: 292px;
}
.about__content__circle--2 {
  background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  right: 494px;
  bottom: 0px;
}
.about__content__circle--3 {
  background: linear-gradient(180deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  right: 202px;
  bottom: 0px;
}
.about__content__circle--5 {
  background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  left: 0;
  bottom: 0px;
}
.about__content__circle--6 {
  background: linear-gradient(180deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  left: 292px;
  bottom: 0px;
}

.panel {
  display: flex;
  gap: 3rem;
}
.panel__box {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel__img {
  position: relative;
  margin-bottom: 4.8rem;
}
.panel__img--1::after {
  opacity: 0.2;
  content: "";
  height: 202px;
  width: 202px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(93, 2, 2, 0.497569) 0%, rgba(93, 2, 2, 0.0001) 100%);
  position: absolute;
  top: 0;
  left: 0;
}
.panel__img--2::after {
  opacity: 0.2;
  content: "";
  height: 202px;
  width: 202px;
  border-radius: 50%;
  background: linear-gradient(-90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  position: absolute;
  top: 0;
  left: 0;
}
.panel__img--3::after {
  opacity: 0.2;
  content: "";
  height: 202px;
  width: 202px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(93, 2, 2, 0.497569) 0%, rgba(93, 2, 2, 0.0001) 100%);
  position: absolute;
  top: 0;
  left: 0;
}
.panel__text {
  margin-bottom: 3.2rem;
}

.maps {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 6.4rem;
}

.map {
  display: flex;
  align-items: center;
  width: 1110px;
  height: 326px;
  gap: 3rem;
}
.map--2 {
  flex-direction: row-reverse;
}
.map__textbox {
  width: 73rem;
  background-color: #fdf3f0;
  border-radius: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.map__textbox::before {
  content: "";
  position: absolute;
  height: 292px;
  width: 292px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  bottom: 0;
  left: 0;
  opacity: 0.05;
}
.map__textbox::after {
  content: "";
  position: absolute;
  height: 292px;
  width: 292px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
  bottom: 0;
  left: 292px;
  opacity: 0.05;
}
.map__text-content {
  width: 54rem;
}
.map__content_row {
  display: flex;
}
.map__textbox--1 {
  width: 255px;
  margin-right: 3rem;
  position: relative;
}
.map__header {
  margin-bottom: 2.4rem;
}
.map__imgbox {
  width: 350px;
  height: 326px;
  border-radius: 15px;
  background-size: cover;
}
.map__imgbox--1 {
  background-image: url("../../assets/locations/desktop/image-map-canada.png");
}
.map__imgbox--2 {
  background-image: url("../../assets/locations/desktop/image-map-australia.png");
}
.map__imgbox--3 {
  background-image: url("../../assets/locations/desktop/image-map-united-kingdom.png");
}

.form-box {
  display: flex;
  align-items: center;
  padding: 0 95px;
  height: 48rem;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #e7816b;
  margin-top: 6.4rem;
  margin-bottom: 16rem;
  overflow: hidden;
  position: relative;
}
.form-box::before {
  content: url("../../assets/contact/desktop/bg-pattern-hero-desktop.svg");
  height: 640px;
  width: 640px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.contact__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 44.5rem;
}
.contact__header {
  margin-bottom: 3.2rem;
}
.contact__form {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 371px;
}

.form p {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  position: relative;
}
.form__input--first {
  margin-top: 0;
}
.form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 38px;
  width: 380px;
  padding: 16px;
  transition: all 0.3s;
}
.form__input--textarea {
  height: 10.2rem;
  padding-top: 20px;
  margin-top: 25px;
}
.form__input:focus {
  border-bottom: 3px solid #fff;
  outline: none;
}

.button__form {
  align-self: flex-end;
  margin-top: 2.4rem;
}

.button {
  display: inline-block;
  width: 15.2rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #ffad9b;
  color: #fff;
}

.panel__button {
  width: 15.2rem;
  height: 5.6rem;
  background-color: #e7816b;
  color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 35rem;
  height: 47.8rem;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.3s;
  box-shadow: 0px 3px 30px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 3px 30px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
.card__imgbox {
  height: 320px;
  width: 350px;
}
.card__img {
  width: 100%;
  height: 100%;
}
.card__img--1 {
  background-image: url("../../assets/web-design/desktop/image-express.jpg");
  background-size: cover;
}
.card__img--2 {
  background-image: url("../../assets/web-design/desktop/image-transfer.jpg");
  background-size: cover;
}
.card__img--3 {
  background-image: url("../../assets/web-design/desktop/image-photon.jpg");
  background-size: cover;
}
.card__img--4 {
  background-image: url("../../assets/web-design/desktop/image-builder.jpg");
  background-size: cover;
}
.card__img--5 {
  background-image: url("../../assets/web-design/desktop/image-blogr.jpg");
  background-size: cover;
}
.card__img--6 {
  background-image: url("../../assets/web-design/desktop/image-camp.jpg");
  background-size: cover;
}
.card__img--7 {
  background-image: url("../../assets/app-design/desktop/image-airfilter.jpg");
  background-size: cover;
}
.card__img--8 {
  background-image: url("../../assets/app-design/desktop/image-eyecam.jpg");
  background-size: cover;
}
.card__img--9 {
  background-image: url("../../assets/app-design/desktop/image-faceit.jpg");
  background-size: cover;
}
.card__img--10 {
  background-image: url("../../assets/app-design/desktop/image-todo.jpg");
  background-size: cover;
}
.card__img--11 {
  background-image: url("../../assets/app-design/desktop/image-loopstudios.jpg");
  background-size: cover;
}
.card__img--12 {
  background-image: url("../../assets/graphic-design/desktop/image-change.jpg");
  background-size: cover;
}
.card__img--13 {
  background-image: url("../../assets/graphic-design/desktop/image-boxed-water.jpg");
  background-size: cover;
}
.card__img--14 {
  background-image: url("../../assets/graphic-design/desktop/image-science.jpg");
  background-size: cover;
}
.card__content-box {
  height: 15.8rem;
  width: 100%;
  background-color: #fdf3f0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}
.card__text {
  width: 286px;
}

.service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 3rem;
  margin-top: 16rem;
}
.service-box {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  transition: all 2s ease;
  text-decoration: none;
  cursor: pointer;
  border: none;
  height: 308px;
  width: 541px;
}
.service-box__text {
  display: flex;
  align-items: center;
  gap: 5px;
}
.service-box--1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/desktop/image-app-design.jpg");
}
.service-box--1:hover {
  background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/desktop/image-web-design-large.jpg");
}
.service-box--2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/desktop/image-graphic-design.jpg");
}
.service-box--2:hover {
  background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/desktop/image-web-design-large.jpg");
}
.service-box--3 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/desktop/image-web-design-large.jpg");
}
.service-box--3:hover {
  background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/desktop/image-web-design-large.jpg");
}
.service-box--4 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/home/desktop/image-app-design.jpg");
}
.service-box--4:hover {
  background-image: linear-gradient(to right, rgba(231, 129, 107, 0.5), rgba(231, 129, 107, 0.5)), url("../../assets/home/desktop/image-app-design.jpg");
}

.header {
  background-color: #e7816b;
  height: 25.2rem;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-top: 6.7rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header--web-design::after {
  content: url("../../assets/web-design/desktop/bg-pattern-intro-web.svg");
  height: 87.6rem;
  width: 100%;
  position: absolute;
  top: -175px;
  right: -230px;
}
.header__textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.header__textbox__title {
  margin-bottom: 2.4rem;
}
.header__textbox__text {
  text-align: center;
}

.section__qualities {
  margin-top: 16rem;
  display: flex;
  gap: 30px;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .section__qualities {
    flex-direction: column;
    margin-top: 12rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section__qualities {
    gap: 80px;
  }
}

.index--main::before {
  content: "";
  width: 100.6rem;
  height: 59.4rem;
  background-color: #f1f3f5;
  border-radius: 297px 297px 297px 0;
  z-index: -3;
  position: absolute;
  top: 475px;
  left: 0;
  opacity: 50.23%;
}
@media only screen and (max-width: 75em) {
  .index--main::before {
    display: none;
  }
}
.index--main::after {
  content: "";
  width: 100.6rem;
  height: 59.4rem;
  background-color: #f1f3f5;
  border-radius: 297px 0 297px 297px;
  z-index: -10;
  position: absolute;
  top: 230%;
  right: 0;
  opacity: 50.23%;
}
@media only screen and (max-width: 75em) {
  .index--main::after {
    display: none;
  }
}

.section__cta {
  margin-top: 16rem;
}
@media only screen and (max-width: 75em) {
  .section__cta {
    margin-top: 6.7rem;
  }
}

.section__cards {
  margin-top: 16rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.index--webdesign::before {
  content: "";
  width: 100.6rem;
  height: 59.4rem;
  background-color: #f1f3f5;
  border-radius: 297px 297px 297px 0;
  z-index: -3;
  position: absolute;
  top: 230px;
  left: 0;
  opacity: 50.23%;
}

.index--about::before {
  content: "";
  width: 100.6rem;
  height: 59.4rem;
  background-color: #f1f3f5;
  border-radius: 297px 297px 297px 0;
  z-index: -3;
  position: absolute;
  top: 475px;
  left: 0;
  opacity: 50.23%;
}
.index--about::after {
  content: "";
  width: 100.6rem;
  height: 59.4rem;
  background-color: #f1f3f5;
  border-radius: 297px 297px 297px 297px;
  z-index: -10;
  position: absolute;
  top: 215%;
  right: -400px;
  opacity: 50.23%;
}

.about__content {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

.index--contact::after {
  content: "";
  width: 100.6rem;
  height: 59.4rem;
  background-color: #f1f3f5;
  border-radius: 297px 297px 297px 297px;
  z-index: -10;
  position: absolute;
  bottom: -700px;
  right: 0px;
  opacity: 50.23%;
}

/*# sourceMappingURL=style.css.map */
