@use "../abstracts/" as a;

.header {
  background-color: a.$primary-peach;
  height: 25.2rem;
  border-radius: 15px;

  position: relative;
  overflow: hidden;
  margin-top: 6.7rem;

  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  @include a.respond(phone) {
    height: 320px;
    width: 375px;
  }

  &--web-design {
    &::after {
      content: url("../../assets/web-design/desktop/bg-pattern-intro-web.svg");
      height: 87.6rem;
      width: 100%;
      position: absolute;

      top: -175px;
      right: -230px;

      @include a.respond(phone) {
        content: url("../../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
        height: 292px;
        width: 292px;
        top: 0px;
        right: 292px;
      }
    }
  }

  &__textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;

    @include a.respond(phone) {
      // width: 357px;
    }

    &__title {
      margin-bottom: 2.4rem;
    }

    &__text {
      text-align: center;
    }
  }
}
