@use "../abstracts/" as a;

.about__content {
  height: 64rem;
  width: 111.1rem;
  display: flex;
  align-items: center;
  border-radius: 15px;

  background-color: a.$tertiary-light-peach;
  overflow: hidden;
  position: relative;

  @include a.respond(tab-land) {
    flex-direction: column;
    width: 689px;
    height: 736px;
  }

  @include a.respond(phone) {
    width: 375px;
    height: 865px;
  }

  &--2 {
    flex-direction: row-reverse;

    @include a.respond(tab-land) {
      flex-direction: column;
    }
  }

  &__imgbox {
    z-index: 5;
    @include a.respond(tab-land) {
      height: 320px;
    }
  }

  &__textbox {
    margin-left: 9.4rem;
    display: flex;
    flex-direction: column;
    width: 44.5rem;

    @include a.respond(tab-land) {
      width: 572px;
      margin-left: 0;
      text-align: center;
      margin-top: 68px;
    }

    @include a.respond(phone) {
      width: 327px;
    }

    &--2 {
      margin-left: 0;
      margin-right: 9.4rem;

      @include a.respond(tab-land) {
        margin-right: 0;
        text-align: center;
        margin-top: 68px;
      }
    }
  }

  &__heading {
    margin-bottom: 2.4rem;
  }

  &__text {
    margin-bottom: 2.4rem;
  }

  &__circle {
    position: absolute;
    opacity: 0.06;

    width: 292px;
    height: 292px;

    z-index: 0;
    border-radius: 50%;
    &--1 {
      background: linear-gradient(
        -90deg,
        rgba(93, 2, 2, 0.0001) 0%,
        rgba(93, 2, 2, 0.497569) 100%
      );
      right: 494px;
      bottom: 292px;
    }
    &--2 {
      background: linear-gradient(
        90deg,
        rgba(93, 2, 2, 0.0001) 0%,
        rgba(93, 2, 2, 0.497569) 100%
      );
      right: 494px;
      bottom: 0px;
    }
    &--3 {
      background: linear-gradient(
        180deg,
        rgba(93, 2, 2, 0.0001) 0%,
        rgba(93, 2, 2, 0.497569) 100%
      );
      right: 202px;
      bottom: 0px;
    }

    &--5 {
      background: linear-gradient(
        90deg,
        rgba(93, 2, 2, 0.0001) 0%,
        rgba(93, 2, 2, 0.497569) 100%
      );
      left: 0;
      bottom: 0px;
    }
    &--6 {
      background: linear-gradient(
        180deg,
        rgba(93, 2, 2, 0.0001) 0%,
        rgba(93, 2, 2, 0.497569) 100%
      );
      left: 292px;
      bottom: 0px;
    }
  }
}
