@use "../abstracts/" as a;

.footer {
  background-color: a.$primary-black;
  height: 393px;

  margin-top: -7.2rem;

  @include a.respond(tab-land) {
    height: 423px;
  }
  @include a.respond(phone) {
    height: 815px;
  }

  &__link--item {
    transition: all 0.1s;
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }

  &--contact {
    margin-top: 16rem;
  }

  &__row--1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14.4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &--right {
      display: flex;
      list-style: none;
      gap: 4.2rem;

      @include a.respond(phone) {
        flex-direction: column;
        text-align: center;
        margin-top: 32px;
      }
    }

    &--contact {
      padding-top: 7.2rem;
    }

    @include a.respond(phone) {
      flex-direction: column;
    }
  }

  &__row--2 {
    margin-top: 3.1rem;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    width: 1111px;

    @include a.respond(tab-land) {
      width: 690px;
    }

    @include a.respond(phone) {
      flex-direction: column;
      width: 375px;
      text-align: center;
      gap: 40px;
    }

    &__content--1 {
      width: 350px;
      margin-right: 3rem;

      @include a.respond(tab-land) {
        width: 223px;
        margin-right: 1rem;
      }
    }

    &__content--2 {
      width: 350px;
      @include a.respond(tab-land) {
        width: 223px;
      }
    }

    &__content--3 {
      display: flex;
      margin-left: 19.7rem;
      align-self: flex-end;
      gap: 1.6rem;

      @include a.respond(tab-land) {
        margin-left: 2rem;
      }

      @include a.respond(phone) {
        margin-left: 0;
        align-self: center;
      }
    }
  }

  &__logo {
    cursor: pointer;
  }
}
