@use "../abstracts/" as a;

.form-box {
  display: flex;
  align-items: center;
  padding: 0 95px;

  height: 48rem;
  justify-content: space-between;
  border-radius: 15px;
  background-color: a.$primary-peach;
  margin-top: 6.4rem;
  margin-bottom: 16rem;

  overflow: hidden;
  position: relative;

  @include a.respond(tab-land) {
    flex-direction: column;
    width: 689px;
    height: 711px;
    justify-content: none;
  }

  @include a.respond(phone) {
    width: 375px;
    height: 764px;
  }

  &::before {
    content: url("../../assets/contact/desktop/bg-pattern-hero-desktop.svg");
    height: 640px;
    width: 640px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.contact {
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 44.5rem;

    @include a.respond(tab-land) {
      width: 573px;
      margin-top: 78px;
      justify-self: start;
    }

    @include a.respond(phone) {
      width: 327px;
      text-align: center;
    }
  }

  &__right {
    @include a.respond(tab-land) {
      margin-bottom: 70px;
    }
  }

  &__header {
    margin-bottom: 3.2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 371px;

    @include a.respond(tab-land) {
      width: 573px;
    }

    @include a.respond(phone) {
      width: 327px;
      align-items: center;
    }
  }
}

.form {
  p {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    position: relative;
  }

  &__input--first {
    margin-top: 0;
  }

  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    height: 38px;
    width: 380px;
    padding: 16px;
    transition: all 0.3s;

    @include a.respond(tab-land) {
      width: 573px;
    }

    @include a.respond(phone) {
      width: 327px;
    }

    &--textarea {
      height: 10.2rem;
      padding-top: 20px;
      margin-top: 25px;

      z-index: 10;
    }

    &:focus {
      border-bottom: 3px solid #fff;
      outline: none;
    }
  }
}

.button__form {
  align-self: flex-end;
  margin-top: 2.4rem;
  z-index: 10;

  @include a.respond(phone) {
    align-self: center;
  }
}
