@use "../abstracts/" as a;

.hero {
  background-color: a.$primary-peach;
  height: 64rem;

  border-radius: 15px;
  position: relative;
  overflow: hidden;

  margin-top: 6.7rem;

  &::after {
    content: url("../../assets/home/desktop/bg-pattern-hero-home.svg");
    height: 64rem;
    width: 64rem;
    position: absolute;

    top: 0;
    right: 0;
  }

  &__container {
    width: 92rem;
    display: flex;
    margin: 0 auto;
  }

  &__content {
    margin-top: 15rem;
    z-index: 5;
    &__heading {
      width: 54rem;
      margin-bottom: 1.1rem;
    }

    &__text {
      width: 44.5rem;
      margin-bottom: 4rem;
    }
  }

  &__img-box {
    position: absolute;
    right: -10rem;
    bottom: -25rem;
  }
}

.about__hero {
  background-color: a.$primary-peach;
  height: 48rem;

  border-radius: 15px;
  position: relative;
  overflow: hidden;

  margin-top: 6.4rem;

  display: flex;
  align-items: center;

  &::after {
    content: url("../../assets/about/desktop/bg-pattern-hero-about-desktop.svg");
    height: 64rem;
    width: 64rem;
    position: absolute;

    bottom: 0;
    left: 0;
  }

  &__textbox {
    width: 63.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 95px;
  }

  &__heading {
    margin-bottom: 3.2rem;
  }

  &__text {
    width: 45.8rem;
  }

  &__imgbox {
    width: 476px;
    height: 480px;
    z-index: 3;
  }
}
