@use "../abstracts/" as a;

.hero {
  background-color: a.$primary-peach;
  height: 64rem;

  border-radius: 15px;
  position: relative;
  overflow: hidden;

  margin-top: 6.7rem;

  @include a.respond(tab-land) {
    height: 84.3rem;
  }

  @include a.respond(tab-land) {
    width: 100vw;
    border-radius: 0;
    margin-top: 37px;
  }

  &::after {
    content: url("../../assets/home/desktop/bg-pattern-hero-home.svg");
    height: 64rem;
    width: 64rem;
    position: absolute;

    top: 0;
    right: 0;

    @include a.respond(tab-land) {
      right: -145px;
      top: 110px;
    }

    @include a.respond(tab-land) {
      left: 0;
      top: 82px;
    }
  }

  &__container {
    width: 92rem;
    display: flex;
    margin: 0 auto;

    @include a.respond(tab-land) {
      flex-direction: column;
      width: 681px;
      align-items: center;
    }

    @include a.respond(tab-land) {
      width: 375px;
    }
  }

  &__content {
    margin-top: 15rem;
    z-index: 5;

    @include a.respond(tab-land) {
      margin-top: 6rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__heading {
      width: 54rem;
      margin-bottom: 1.1rem;

      @include a.respond(tab-land) {
        margin-bottom: 8px;
      }

      @include a.respond(tab-land) {
        width: 327px;
        margin-bottom: 1.4rem;
      }
    }

    &__text {
      width: 44.5rem;
      margin-bottom: 4rem;

      @include a.respond(tab-land) {
        margin-bottom: 1.9rem;
      }

      @include a.respond(tab-land) {
        width: 327px;
        margin-bottom: 2.4rem;
      }
    }
  }

  &__img-box {
    position: absolute;
    right: -10rem;
    bottom: -25rem;

    @include a.respond(tab-land) {
      right: 2rem;
      bottom: -36rem;
    }
    @include a.respond(phone) {
      right: -11rem;
      bottom: -38rem;
    }
  }
}

.about__hero {
  background-color: a.$primary-peach;
  height: 48rem;

  border-radius: 15px;
  position: relative;
  overflow: hidden;

  margin-top: 6.4rem;

  display: flex;
  align-items: center;

  @include a.respond(tab-land) {
    flex-direction: column-reverse;
    height: 632px;
    align-items: space-between;
  }

  @include a.respond(phone) {
    width: 375px;
  }

  &::after {
    content: url("../../assets/about/desktop/bg-pattern-hero-about-desktop.svg");
    height: 64rem;
    width: 64rem;
    position: absolute;

    bottom: 0;
    left: 0;

    @include a.respond(tab-land) {
      bottom: 110px;
      left: -130px;
    }

    @include a.respond(phone) {
      content: url("../../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
      height: 292px;
      width: 292px;
      bottom: 195px;
    }
  }

  &__textbox {
    width: 63.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 95px;

    @include a.respond(tab-land) {
      width: 573px;
      margin-left: 0;
      text-align: center;
      align-items: center;
      height: 312px;
    }

    @include a.respond(phone) {
      width: 327px;
      height: 395px;
    }
  }

  &__heading {
    margin-bottom: 3.2rem;
  }

  &__text {
    width: 45.8rem;
    @include a.respond(tab-land) {
      width: 573px;
    }

    @include a.respond(phone) {
      width: 327px;
    }
  }

  &__imgbox {
    width: 476px;
    height: 480px;
    z-index: 3;
    @include a.respond(tab-land) {
      width: 100%;
      height: 320px;
      align-self: flex-start;
    }
  }
}
