@use "../abstracts/" as a;

.quality {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include a.respond(tab-land) {
    flex-direction: row;
    width: 690px;
    gap: 32px;
  }

  @include a.respond(phone) {
    flex-direction: column;
    width: 327px;
    gap: 48px;
  }

  &__content {
    text-align: center;
    @include a.respond(tab-land) {
      margin-left: 4.8rem;
      text-align: left;
    }

    @include a.respond(phone) {
      text-align: center;
      margin-left: 0;
    }
  }

  &__title {
    margin-top: 4.8rem;
    margin-bottom: 3.2rem;

    @include a.respond(tab-land) {
      margin-top: auto;
      margin-bottom: 1.6rem;
    }
  }

  &__img-box {
    position: relative;
    &::after {
      content: "";
      width: 202px;
      height: 202px;
      background-image: linear-gradient(
        to bottom,
        rgba(93, 2, 2, 0.001) 0%,
        rgba(93, 2, 2, 0.4976) 100%
      );
      opacity: 25%;
      z-index: -3;
      border-radius: 50%;
      position: absolute;
      //   transform: translateX(-20px);
      top: 0;
      left: 0;
    }
  }
}
